<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h1>Hola mundo</h1>

    <form method="post" id="cardForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Tarjeta</label>
          <input type="text" class="form-control" id="card_number" aria-describedby="emailHelp">
        </div>
        
        <button type="submit" class="btn btn-primary" id="btn-enviar">Enviar</button>
    </form>

    <div id="results">
        <!--Aqui va el resultado-->
    </div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
</html>